:root {
  --tui-background-base: #171717;
  --tui-text-primary: #d8d7d7;
  --tui-text-secondary: #bbbbbb;
  --tui-text-tertiary: #999999;
  --tui-text-negative: #d56b70;
  --tui-background-accent-1: #0088cc;
  --tui-background-accent-1-hover: #0074ad;
  --tui-background-accent-1-pressed: #005e8d;
  --tui-status-negative: #ff8c67;
  --tui-border-normal: #0088cc;
  --tui-background-neutral-1: #fd645c;
  --tui-background-neutral-1-hover: #d56b70;
  --tui-background-neutral-1-pressed: #e7716a;
}
