@use './app-theme.scss';

:root {
  --border-primary-color: var(--tui-border-normal);
  --background-color-accent: #202020;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
